*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headContent {
    float: left;
    margin-left: 1vw;
}


.headContent a {
    margin-right: 30px;
    color: black;
    text-decoration: none;
}
.headLink {
    float: right;
}

.button {
    padding: 1rem;
    background-color: rgb(48, 146, 192);
    border-radius: 10ch;
}

.headLogin {
    float: right;
    width: 100px;
    height: auto;
    margin-right: 1vw;
    background-color: rgb(140, 189, 235);
    border: 10px solid rgb(140, 189, 235);
    border-radius: 5px;
}

#loginStatus {
    font-size: 60px;
    background-color: aquamarine;
    height: 100px;
    display: flex;
    align-items: center;
}

.bookCreate {
    padding: 10px;
    float: left;
}

.categoryBox {
    padding-right: 60%;
    float: right;
}

#bookDescription {
    background-color: rgb(236, 236, 236);
    height: auto;
    width: 400px;
}
.footer {
    position: absolute;
    width: 100%;
    bottom: -10px;
    z-index: -1;
}
